<div class="container">
  <h1 class="text-center">Request a Quote</h1>

  <form class="row justify-content-center">
    <div class="col-6 p-4">
        <div class="form-group">
          <label for="email">Email:</label>
      
          <input 
            type="email" 
            name="email" 
            id="email" 
            class="form-control" 
            placeholder="name@example.com"
          >
        </div>
    
        <div class="form-group">
          <label for="description">Description:</label>
    
          <textarea 
            name="description" 
            id="description" 
            class="form-control" 
            rows="5" 
            placeholder="Tell us more..."
          >
          </textarea>
        </div>

        <button type="submit" class="btn btn-primary float-right">Request Quote</button>
    </div>
  </form>
</div>