<div class="container">
  <div class="row">
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Email</th>
          
            <th>Description</th>

            <th>Submitted</th>
          </tr>
        </thead>
      
        <tbody>
          <tr *ngFor="let quote of quotes" [routerLink]="['quote', quote._id]">
            <td>{{ quote.email }}</td>
        
            <td>{{ quote.description }}</td>

            <td></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>