@import '~bootstrap/scss/bootstrap';

:host {
  display: block;

  article {
    a {
      display: none;
      height: 20px;
      width: 20px;
    }
  
    &:hover a{
      display: block;
    }
  }
}

:host-context(#history) {
  blockquote {
    font-size: 1rem;
  }
}

:host-context(#latest) {
  p {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-only(xs) {
  :host {
    article {
      &:hover a {
        display: none;
      }
    }
  }
}