<div class="row" *ngIf="!editing">
  <div class="col-12">
    <p
      class="text-center my-2 my-sm-0"
    >
      {{ comment.updatedAt | date: 'short' }}
    </p>
  </div>
</div>

<article class="row align-items-center" *ngIf="!editing">
  <div class="col-sm-1"></div>

  <div class="col-sm-10">
    <blockquote
      class="blockquote p-4 my-1 my-sm-4 rounded shadow-sm"
      [ngClass]="{
        'text-white bg-primary': me,
        'text-dark bg-light': !me
      }"
    >
      <p class="mb-0">{{ comment.message }}</p>
    </blockquote>
  </div>

  <div class="col-sm-1">
      <a
        *ngIf="removable"
        (click)="onDelete($event)"
        href
        class="my-4"
        title="Remove"
        alt="Remove"
      >
        <i class="far fa-trash-alt"></i>
      </a>

      <a
        *ngIf="editable"
        (click)="onEdit($event)"
        href
        class="my-4"
        title="Edit"
        alt="Edit"
      >
        <i class="fas fa-wrench"></i>
      </a>

      <button
        *ngIf="editable"
        (click)="onEdit($event)"
        type="button"
        class="btn btn-lg btn-success mb-1 w-100 d-block d-sm-none"
        title="Edit"
        alt="Edit"
      >
        Edit
        <i class="fas fa-wrench ml-2"></i>
      </button>

      <button
        *ngIf="removable"
        (click)="onDelete($event)"
        type="button"
        class="btn btn-lg btn-danger mb-4 w-100 d-block d-sm-none"
        title="Remove"
        alt="Remove"
      >
        Remove
        <i class="far fa-trash-alt ml-2"></i>
      </button>
  </div>
</article>

<div class="row" *ngIf="editing">
  <div class="col-12">
      <app-comment-form
      [comment]="comment"
      [quoteId]="this.quoteId"
      (cancel)="onCancel()"
      (saved)="onSave($event)"
    >
    </app-comment-form>
  </div>
</div>
