<div class="container" *ngIf="quote">
  <div class="row justify-content-center">
    <div class="col-10">
        <h1 class="py-4">Quote Details:</h1>

        <p><strong>From:</strong></p>

        <p>{{ quote.email }}</p>

        <p><strong>Description:</strong></p>

        <p>{{ quote.description }}</p>
    </div>
  </div>

  <form class="row justify-content-center" #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="col-10 p-4">
        <div class="form-group">
          <textarea 
            name="reply" 
            id="reply" 
            class="form-control" 
            rows="8" 
            placeholder="Enter Reply..."
            required
            minlength="100"
          ></textarea>
          
          <div class="invalid-feedback">
            Reply must be at least 100 characters.
          </div>
        </div>

        <button 
          type="submit" 
          class="btn btn-primary float-right"
          [disabled]="!f.form.valid"
        >
        Submit Reply</button>
    </div>
  </form>
</div>