<section id="quote" *ngIf="quote">
  <header class="bg-light border-bottom">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-12">
            <h1 class="mt-4">Quote Details</h1>
    
            <hr>
    
            <p><strong>From:</strong></p>
    
            <p>{{ quote.email }}</p>
    
            <p><strong>Description:</strong></p>
    
            <p>{{ quote.description }}</p>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <section id="latest" class="row justify-content-center py-4">
        <div class="col-12">
          <h3 *ngIf="latestAdminComment || latestUserComment">
            Latest Messages
          </h3>
      
          <hr>
          
          <div @commentAdd>
            <comment 
                *ngIf="latestAdminComment"
                @commentRemove
                [comment]="latestAdminComment" 
                [quoteId]="quote._id" 
                [me]="latestAdminComment.admin"
                [editable]="true"
                [removable]="true"
                (delete)="onDelete($event)"
              >
            </comment>

            <comment 
              *ngIf="latestUserComment"
              @commentRemove
              [comment]="latestUserComment" 
              [quoteId]="quote._id" 
              [me]="latestUserComment.admin"
              (delete)="onDelete($event)"
            >
            </comment>
          </div>
        </div>
    </section><!-- #latest -->
  
    <div id="history" class="row justify-content-center pb-4">
      <div class="col-12">
        <h3>Chat History</h3>
  
        <hr>
  
        <section id="comments" @commentAdd>
          <comment 
            *ngFor="let comment of comments"
            @commentRemove
            [comment]="comment"
            [quoteId]="quote._id" 
            [me]="comment.admin"
            (delete)="onDelete($event)"
          >
          </comment>
        </section>
      </div>
    </div><!-- #history -->
  </div>
</section>