<div class="row" *ngIf="!comment._id">
  <div class="col-12">
    <h5 class="text-center mb-4">New Comment</h5>
    
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-1"></div>

  <div class="col-10">
    <form *ngIf="!latestAdminComment" #f="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <textarea 
          name="reply" 
          id="reply" 
          class="form-control" 
          rows="8" 
          placeholder="Enter Comment..."
          required
          minlength="100"
          [(ngModel)]="comment.message"
        ></textarea>
        
        <div class="invalid-feedback">
          Reply must be at least 100 characters.
        </div>
      </div>
      <div class="form-group text-right">
        <button 
          type="submit" 
          class="btn btn-lg d-inline-block mr-2"
          [disabled]="!f.form.valid"
          [ngClass]="{
            'btn-success': comment._id,
            'btn-primary': !comment._id
          }"
        >
          {{ (comment._id) ? 'Save' : 'Add New Comment' }}
        </button>
    
        <button 
          type="button" 
          class="btn btn-danger btn-lg d-inline-block"
          *ngIf="comment._id"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>

  <div class="col-1"></div>
</div>